.input-wrapper-invoice{
  margin: 8px 0px;
  
  align-items: center;
}
.input-wrapper-invoice input , .input-wrapper-invoice textarea{
    background-color: rgb(243,246,249);
    border:none;
    padding: 12px 15px;
    font-family:var(--apple-font);
    width: 400px;
    transition:all 0.3s;
    border-radius: 5px;
}
.input-wrapper-invoice .invoice-detail-block{
    background-color: rgb(243,246,249);
    border:none;
    padding: 12px 15px;
    font-family:var(--apple-font);
    width: 400px;
    transition:all 0.3s;
    border-radius: 5px;
}
.label-text-invoice{
      padding-right: 10px;
      color: var(--vz-secondary-color);
      font-size: 14px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.input-wrapper-invoice .invoice-detail-block p{
    color: var(--vz-heading-color);
    font-weight: 500;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.invoice-detail-row input , .invoice-detail-row select{
    width: 200px !important;
}
.input-wrapper-invoice select{
    border-radius: 5px;
    border: 1.3px solid rgb(136, 136, 136);
    width: 100%;
    font-size: 15px;
    transition:all 0.3s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    padding: 7px 10px;
}
.input-wrapper-invoice input:focus , .input-wrapper-invoice select:focus , .input-wrapper-invoice textarea:focus{
    outline: none;
    background-color: #F7FEFF;
    border-color: #007185;
    box-shadow: 0 0 0 3px #C8F3FA, 0 1px 2px rgba(15,17,17,.15) inset;
}
.input-wrapper-invoice button{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 500;
    padding: 10px 14px;
    border-radius: 5px;
    align-items: center;
    border: none;
    background-color: #13c56b;
    color: #fff;
}
.addInvoice-product .btn-addItem-invoice-create-page{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 500;
    padding: 10px 14px;
    border-radius: 5px;
    align-items: center;
    border: none;
    background-color:#865ce26e;
    color: #fff;
}
.addInvoice-product .btn-addItem-invoice-create-page:hover{
    background-color:#865ce2f4;
    cursor: pointer;
}
.input-wrapper-invoice button:hover{
    background-color:#0a9d53;
    cursor: pointer;
}
.table-data input{
    width: 100px !important;
}
