.alert-box {
    width: 400px;
    scale: 0;
    padding: 50px 20px;
    display: flex;
    justify-content: start;
    top: 0;
    position: fixed;
    z-index: 10000 !important;
    transition: all 0.2s;
}

.alert-active {
    scale: 1.03 !important;
}
